body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: black;
}

.button1  {
  position: absolute;
  top: 26%;
  left: 32%;
  margin-bottom: 140px; 
  
}
.mapText{
  margin-top: 70px;
}
.button1 .button:hover {
  background-color:rgb(89, 108, 166);
}
.button2 .button:hover {
  background-color:rgb(89, 108, 166);
}
.button1 .button:focus {
  background-color: rgb(99, 125, 211);
}
.button2 .button:focus {
  background-color: rgb(99, 125, 211);
}
.button1 .button{
  background-color: #244384; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}
.button2 {
  position: absolute;
  color: white;
  left: 34%;
}
.button2 .button{
  background-color: #244384; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}
#tg-map {
  width: 100%;
}
/*Grösse der Karte innerhalb des Div container */

.tg-map {
  width: 80%;
  padding-top: 25px;
  padding-left: 150px;
}
/*Position und Grösse des Div container der Karte*/

#municipalities path:hover {
  fill: rgb(207, 215, 207);
}
/*Farbe beim Hovern der Karte*/

#municipalities path {
  fill: rgb(71, 67, 193);
}
/*Farbe der Karte*/

#lakes {
  fill: rgb(19, 160, 185);
}
/* Farbe vom See*/

.barchart1 {
  width: 40%;
  padding-top: 15px;
  float: left;
  padding-left: 75px;
}
/*Position und Form des ersten Säulen Diagrammes*/

.barchart2 {
  width: 40%;
  padding-top: 15px;
  float: right;
  padding-right: 75px;
}
/*Position und Form des zweiten Säulen Diagrammes*/
.linechart1 {
  width: 40%;
  padding-top: 100px;
  float: left;
  padding-left: 75px;
}
/*Position und Form des ersten Linien Diagrammes*/

.linechart2 {
  width: 40%;
  padding-top: 100px;
  float: left;
  padding-left: 75px;
}
/*Position und Form des zweiten Linien Diagrammes*/

.do-not-display {
  display: none;
}
/*Tooltips sollen wieder weg sein wenn nicht mehr auf der Karte*/

#tooltip-map {
  position: absolute;
  padding: 10px;
  width: 200px;
  height: 120px;
  border-radius: 12px 12px 12px 12px;
  background: rgba(191, 196, 225, 0.833);
  color: rgb(26, 25, 28);
  border-radius: 8px;
  pointer-events: none;
}
/*Tooltips anzeigen*/

.jahre {
  color: black;
  padding-left: 400px;
  padding-top: 120px;
}
/* Beschreibung Buttons */

.mapText {
  padding-left: 360px;
  padding-top: 30px;
}

.text {
  padding-left: 30px;
  padding-right: 30px;
}

.jahre2 {
  color: black;
  padding-left: 33%;
}

.diagramme {
  color: black;
  padding-left: 32%;
}

.top1 {
  color: black;
  padding-top: 50px;
  padding-left: 200px;
  float: left;
}

.flop1 {
  color: black;
  float: right;
  padding-top: 50px;
  padding-right: 200px;
}
.charts1{
  margin-top: 70px;
}

.charts2{
  margin-top: 70px;
}
